<h1>Shirt Tracker</h1>

<%= form_tag '/search', method: :get do %>
	<%= label_tag 'q', "Search" %>
	<%= text_field_tag 'q' %>
	<%= submit_tag %>
<% end %>
<%= link_to "Create a shirt", new_shirt_path %>

<p>Here's a list of shirts:</p>
<%= render 'shirts' %>
<%= debug @shirts %>
